*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
}

body{
    background-color: #363636;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight:400;
    font-size: 46px;
}

.calendar_body{
    .calendar_head{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        p{
            color: #FFFFFF;
        }
        .control_arrow{
            display: flex;
            align-items: center;
            img{
                rotate: 90deg;
                cursor: pointer;
                padding: 10px;
                margin-left: 15px;
                &:hover{
                    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
                }
            }
            
        }
    }
    
    margin-top: 100px;
    min-width: 800px;
    min-height:200px;
    box-shadow: 0px 0px 8px 22px rgba(0, 0, 0, 0.2);
}

.calendar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    thead{
       
        tr{
            th{
                color: #FFFFFF;
                padding: 18px;
                text-align: center;
                
            }
        }
    }
    tbody{

        tr{
            border-spacing: 5em;
            td{
                cursor: pointer;
                color: #FFFFFF;
                padding: 20px;
                text-align: center;
                &:hover{
                    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
                }
                
            }
        }
    }
    
}



.event_section{
    display: none;
    margin-top: 100px;
    min-width: 800px;
    min-height:695px;
    background-color: #363636;
    border-left: solid 1px #FFFFFF;
    box-shadow: 32px 0px 10px 34px rgba(255, 255, 255, 0.2);
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    ul{
        list-style-type: none;
        li{
            text-align: center;
            margin-top: 20px;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            color: #363636;
            padding: 2px 4px;
            font-size: 46px;
            min-width: 350px;
            min-height: 60px;
            &:active{
                border: none;
                outline:none  !important;
            }
            &:focus{
                border: none;
                outline: none  !important;
            }
            &:hover{
                border: none;
                outline: none  !important;
            }
        }
        button{
            margin-left: 10px;
            cursor: pointer;
            border: none;
            box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
            box-shadow: #FFFFFF;
            background-color: #363636;
            padding: 20px;
        }
    }
    
}


.time{
    position: fixed;
    top: 20px;
}


.event_indicator{
    &::after{  
        height: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        content: url(./img/icon/blue_cirle.png);
        transform: scale(.2)
    }
}



.timer_animation{
    animation: 5s show ease;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }